@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  box-shadow: 0 0px 0 0 currentColor;
}

.text-shadow{
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}